---
import "../styles/global.css";
---

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Raan Saurav Bhuyan</title>
</head>

<body>

<slot />

<script src="../scripts/scrollAnimations.js"></script>

</body>

</html>