---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Home">

    <h1 class="text-3xl font-bold mb-4">
        Raan Saurav Bhuyan
    </h1>

    <p class="text-lg text-gray-700">
        AI & Machine Learning Researcher exploring neural networks, time-series econometrics, and computational modeling.
    </p>

</BaseLayout>